@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("./fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("./fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.conteiner {
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.center {
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
}

.header {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    color: #000;
}

.header_logo_text {
    font-size: 24px;
    padding-left: 14px;
}

.header_menu_link {
    font-family: Gilroy-Medium;
    font-size: 14px;
    color: #000;
}

.orange_text {
    color: #F25822;
}

.padding {
    padding-left: 30px;
}

.top_content {
    display: flex;
    align-items: flex-end;
    gap: 40.94px;
    padding-top: 44px;
    padding-bottom: 162px;
}

.top_title {
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
}

.top_sub_title {
    margin-bottom: 37px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    width: 466px;
}

.top_button {
    display: flex;
    align-items: center;
    gap: 72px;
    font-size: 15px;
}

.top_button_active {
    padding: 15px 36px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
}


.top_text_video {
    color: #AAA;
}

.top_img {
    padding-right: 64px;
}

.top_logo {
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 96px;
}

.logo {
    display: inline-block;
    width: 160px;
    height: 50px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    color: #000;
    font-size: 24px;
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.business_item {
    padding: 40px 31px 25px 29px;
}

.business_item_topic {
    margin-top: 25px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.business_item_text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%;
    /* 22.5px */
    margin-top: 17px;
    width: 310px;
}

.display_none {
    display: none;
}

.btn_more {
    color: #000;
    font-size: 11px;
    line-height: 150%;
    /* 16.5px */
    margin-top: 25px;
    background-color: #FFF;
}

.box_shadow {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.services {
    background: #FAFAFA;
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_title {
    color: #000;
    font-size: 45px;
}

.services_text {
    margin-top: 19px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 150%;
    /* 24px */
    width: 682px;
}

.services_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 50px;
}

.services_top_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.box_shadow1 {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.services_title_two {
    color: #000;
    font-size: 24px;
}

.services_top_text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%;
    /* 22.5px */
    margin-top: 22px;
    margin-bottom: 39px;
}

.services_btn {
    background: #f25822;
    padding: 15px 36px;
    border-radius: 50px;
    color: #FFFFFF;
}

.btn_arrow {
    margin-left: 6px;
}